a {
    color: black;
    text-decoration: none;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
li {
    display: inline-block;
}

#header {
    text-align: center;
    padding: 60px 0;
}
#header a {
    font-size: 40px;
}
#nav ul.menus {
    float: left;
}
#nav ul.icons {
    float: right;
}
#main .featured header h2 {
    text-align: center;
    padding: 50px 40px 0;
}
#main .featured header a img {
    width: 100%;
}

#footer {
    display: flex;
    /* 엘리먼트가 보여지는 모양을 플렉서블하게 바꿔주는 속성 */
}
#footer .contact, #footer .info {
    flex: 1;
    /* 둘다 1로 설정했으므로 1:1비율로 설정. 만약 하나는 2, 하나는 1로 설정하면 2:1 비율이 됨 */
}
#footer .contact .inputs {}
#footer .contact .inputs label {}
#footer .contact .inputs input {
    width: 100%;
    height: 60px;
    border: solid 3px gray;
    box-sizing: border-box;
    margin-bottom: 30px;
}
#footer .contact .inputs textarea {
    box-sizing: border-box;
    width: 100%;
    border: solid 3px gray;
    margin-bottom: 30px;
}
#footer .contact .submit input {
    border: solid 3px #333;
    background: rgb(255, 255, 255);
    padding: 15px 10px;
}
#footer .info section {
    display: flex;
}
#footer .info section h3 {
    flex: 1;
}
#footer .info section p {
    flex: 2;
}
#footer .info section ul {
    flex: 2;
}
#copyright {
    background:rgb(33,33,33);
    padding: 20px;
    text-align: center;
}
#copyright p {color:#ccc;}